* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: aqua;
}

h1 {
    font-weight: 800;
    font-size: 50px;
    color: chocolate;
}

ul {
    text-align: center;
    color: blueviolet;
    font-weight: 800;
}
